@import 'config';
@import 'utilities';
@import 'form';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}

a {
	text-decoration: none;
	color: $primary-color;
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
}

// Navbar
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 2rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid $primary-color;
	opacity: 0.9;

	ul {
		display: flex;
	}
	a {
		color: #fff;
		margin: 0 0.25rem;
		padding: 0.45rem;

		&:hover {
			color: $primary-color;
			border-bottom: 0.5px solid #fff;
			transition: 0.2s ease-in;
		}
	}
}
.selected {
	color: $primary-color !important;
	border-bottom: 0.5px solid #fff !important;
}
//Landing
.landing {
	position: relative;
	background-image: url('../img/showcase.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;

	&-inner {
		color: #fff;
		height: 100%;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

//Profiles Page
.profile {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	gap: 2rem;
	padding: 1rem;
	line-height: 1.8;
	margin-bottom: 1rem;
	align-items: center;
}

//Profile Page
.profile-grid {
	display: grid;
	grid-template-areas:
		'top top'
		'about about'
		'exp edu'
		'github github';
	gap: 1rem;

	.profile-top {
		grid-area: top;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		img {
			width: 200px;
		}
		.icons a {
			color: #fff;
			margin: 0 0.3rem;
			transition: 0.2s ease-in;

			&:hover {
				color: $dark-color;
			}
		}
	}
	.profile-about {
		grid-area: about;
		text-align: center;

		.skills {
			display: flex;
			align-items: center;
			justify-content: center;
			align-items: center;
		}
	}
	.profile-exp {
		grid-area: exp;
	}
	.profile-edu {
		grid-area: edu;
	}

	.profile-exp,
	.profile-edu {
		& > div {
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px dotted #ccc;
			&:last-child {
				border: none;
			}
		}

		p {
			margin: 0.5rem 0;
		}
	}
	.profile-github {
		grid-area: github;

		.repo {
			display: flex;

			& > :first-child {
				flex: 7;
				flex-basis: 70%;
			}
			& > :last-child {
				flex: 3;
				flex-basis: 20%;
			}
		}
	}
}

//Blogs Page
.blog-form-header {
	padding: 0.5rem;
}

.blog {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 2rem;
	align-items: center;

	& > div:first-child {
		text-align: center;
	}
}

.blog-date {
	color: #aaa;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid $light-color;
	border-radius: 50%;
	border-top: 16px solid $primary-color;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@import 'mobile';
